.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


p {
  margin: 1px;
  font-style: italic;
}

p.author {
  font-size: 15px;
  font-style: normal;
  margin-top: 5px;
}

.new-weather {
  display: inline;
}

.new-weather ul {
  padding-left: 0px;
  display: inline-block;
}

.new-weather ul li {
  list-style-type: none;
  /*display: inline;*/
  margin: 10px;
}

.new-weather .info {
  font-size: 16px;
  text-align: right;
}

.new-weather .icon {
  width: 75px;
}

.new-weather .time {
  font-size: 20px;
}

.new-weather .temp {
  font-size: 20px;
}

.new-weather .rain {
  font-size: 20px;
}

.quote {
  width: 725px;
}

.weather {
  margin-bottom: 0px;
}

.clock {
  width: 650px;
  margin-left:auto; 
  margin-right:auto;
}

/*
* { 
  outline: 2px solid black; 
}
*/


.clock h2 {
  margin-top: 0px;
  margin-bottom: 0px;
  text-align: right;
  font-size: 70px;
  font-weight: normal;
}

.clock h4 {
  text-align: right;
  margin-top: 0px;
  font-size: 20px;
  font-weight: normal;
  margin-bottom: 0px;
}


/*
.weather ul {
  padding-left: 0px;
}

.weather ul li {
  list-style-type: none;
  display: inline;
  margin: 10px;
}

.weather .icon {
  width: 50px;
}

.weather .temp {
  font-size: 20px;
}

.weather .rain {
  font-size: 20px;
}
*/

/*.clock {
  float: right;
}*/